@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --background-linearGradient: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    
    --white: #fff2e7;
    --berge: #ecd6c4;
    --dark-brown: #2F2325;
    --dark-brown-transparent: rgba(47, 35, 37, 0.98);
    --yellow: #F5E053;

    --font-sarala: 'Sarala', sans-serif;
    --font-righteous: 'Righteous', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-sarala);    
}

html {
    /* 15px */
    @media (max-width: 1080px) {
        font-size: 93.75%
    }

     /* 14px */
    @media (max-width: 720px) {
        font-size: 87.5%;
    }
}

body {
    background: var(--background-linearGradient);
    --webkit-font-smoothing: antialiased;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}


/* CABECALHO */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 7.5rem;
    padding: 1.5rem 0;
    max-width: 980px;
    margin: 0 auto;
}

.cabecalho-botao-menu-mobile .line {
    width: 2rem;
    height: 2px;
    background-color: var(--berge);
    margin: 0.5rem;
}

.cabecalho-botao-menu-mobile {
    display: none;
    cursor: pointer;
}

.cabecalho-imagem {
    height: 4.5rem;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    color: var(--white);
    font-weight: 400;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.25rem;
    
    position: relative;
}

.cabecalho-menu-item:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--yellow);

    transition: all 1.5s ease;
}

.cabecalho-menu-item:hover:before {
    width: 100%;
}


/* CONTEÚDO */
.conteudo {
    margin-bottom: 3rem;
    border-top: 0.4px solid var(--white);   
}


/* CONTEÚDO PRINCIPAL */
.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 980px;
    margin: 0 auto;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conteudo-principal-escrito-titulo {
    color: var(--white);
    font-family: var(--font-righteous);
    font-weight: 400;
    font-size: 4rem;
}

.conteudo-principal-escrito-subtitulo {
    color: var(--berge);
    font-size: 1.5rem;
    font-weight: 400;
}

.conteudo-principal-botao {
    background: var(--berge);
    width: 11.5rem;
    height: 4rem;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-brown);
    cursor: pointer;

    transition: filter 0.2s;
}

.conteudo-principal-botao:hover {
    filter: brightness(1.1);
}

.conteudo-principal-imagem {
    height: 27rem;
}


/* CONTEÚDO SECUNDÁRIO */
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    max-width: 980px;
    margin: 3rem auto 0 auto;
    text-align: center;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid var(--white);
    padding-top: 3rem;
    font-family: var(--font-righteous);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.conteudo-secundario-paragrafo {
    font-weight: 300;
    font-size: 1.125rem;
    color: var(--berge);
}


/* RODAPÉ */
.rodape {
    padding: 2rem;
    border-top: 0.4px solid var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.rodape-imagem {
    height: 3rem;
}

.rodape-redes-sociais {
    display: flex;
    gap: 1rem;
}

.rodape-redes-sociais-icons {
    color: var(--berge);
    font-size: 1.7rem;
    padding: 0.25rem;
    cursor: pointer;
    position: relative;

    transition: all 0.2s;
}

.rodape-redes-sociais-icons:hover {
    filter: brightness(1.1);
    bottom: 2px;
}




/* MOBILE */
@media (max-width: 576px) {
    .cabecalho-botao-menu-mobile {
        display: block;
    }

    .cabecalho {
        height: 5.5rem;
        padding: 0 0.25rem;
    }

    .cabecalho-menu {
        position: absolute;
        top: calc(5.5rem + 0.7px);
        left: -60%;
        width: 60%;
        height: 0;
        overflow: hidden;

        background: var(--dark-brown-transparent);
        padding-top: 2rem;
        padding-left: 1rem;

        flex-direction: column;
        align-items: flex-start;

        transition: all 0.5s ease-in;
    }

    .menu-mobile-ativo {
        left: 0;
        height: calc(100% - 5.5rem - 0.7px)
    }

    .conteudo {
        padding: 0 0.25rem;
    }

    .conteudo-principal {
        flex-direction: column;
        margin-top: 3rem;
    }

    .conteudo-principal-escrito {
        align-items: center;
        text-align: center;
    }

    .conteudo-principal-imagem {
        width: 23rem;
    }

    .conteudo-principal-botao {
        width: 90%;
    }
}